{% extends 'assessment/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-center">
        <table>
            <thead>
                <tr>
                <th>Photo</th>
                  <th>Username</th>
                  <th></th>
                </tr>
              </thead>
                <tr>
                {% for user in users %}
                <td>  
                  {% if user.user_profiles.image %}
                  <img src="{{ user.user_profiles.image.url }}"  height="30" width="30" alt="image">   
			          {% else %}
                  no image
			            {% endif %}
                      </td>
                  <td>  
                {{ user.username }}
                  </td>
                <td>
                  <a href="{% url 'add-friend' user.id %}"><b>add friend</b></a>  
                    </td>
                {% endfor %}
                </tr>
        </table>
    </div>
</div>

{% endblock %}